body {
    font-family: 'Merriweather', serif;
    margin-right: 100px;
    margin-left: 100px;
    background-color: rgb(3 25 38);
    color: #efeeb4;
}

header {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    color: #7aa874;
}

input {
    width: 15%;
    padding: 12px 12px;
    margin: 8px 8px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    margin:10px;
}