main {
    max-width: 800px;
    margin: auto;
    font-family: 'Merriweather', serif;
    color: rgb(70 129 137);
}

header {
    text-align: center;
    font-size: 85px;
}

body {
    background-color: rgb(3 25 38);
}

a{
    color: rgb(165 36 59);
    text-decoration: none;
}
 
a:hover {
    color: orangered;
}

a:active {
    color: blue;
}

#header-sub-heading {
    color: bisque;
    font-size:50px;
    margin-bottom: 0%;
}


#sigil-link-button {
    image-resolution: 23;
}

#typewriter-passage {
    font-size: 50px;
    text-align: center;
}

#main-heading {
    margin-top: 5%;
    margin-bottom: 5%;
}